/* Global Styles */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #461a42;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.quiz-header {
    text-align: center;
    margin-bottom: 20px;
}

.quiz-title {
    font-size: 2em;
    font-weight: bold;
    color: #f5f5f5;
}

.option {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.option label {
    display: block;
    padding: 12px 20px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option label:hover {
    background-color: #e0e0e0;
}

.option input[type="radio"] {
    display: none;
}

.option input[type="radio"]:checked+label {
    background-color: #4caf50;
    color: #fff;
}

.question-container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.question-text {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.options-container {
    display: flex;
    flex-direction: column;
}

.option {
    margin-bottom: 10px;
}

.next-btn,
.restart-btn {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #4caf50;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-btn:hover,
.restart-btn:hover {
    background-color: #45a049;
}

.score-container {
    text-align: center;
}


/* Media Query for Small Screens */

@media (max-width: 480px) {
    .quiz-container {
        padding: 10px;
    }
    .quiz-title {
        font-size: 20px;
    }
    .question-text {
        font-size: 16px;
    }
    .next-btn,
    .restart-btn {
        font-size: 14px;
    }
}